:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--white-color);

  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

.list-none {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Header */
.site-header {
  font-size: 14px;
  font-weight: 500;
}

.logo {
  color: var(--title-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.2;
}

.logo > span {
  color: var(--accent-color);
}

.nav .link {
  color: var(--title-text-color);
  letter-spacing: 0.02em;
}

.contact-header .link {
  color: var(--primary-text-color);
  line-height: 1.14;
}

.nav .link:hover,
.nav .link:focus,
.contact-header .link:hover,
.contact-header .link:focus,
.link.current {
  color: var(--accent-color);
}

/* Buttons */
.btn {
  background-color: var(--secondary-bg-color);

  color: var(--title-text-color);
  font-size: 16px;
  font-family: inherit;
  font-weight: 700;

  cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn.primary {
  background-color: var(--accent-color);

  color: var(--white-color);
}

/* Hero */
.hero {
  background-color: var(--dark-bg-color);
}

.hero .hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.2;
  color: var(--white-color);

  text-align: center;
  text-transform: uppercase;
}

/* Section title */
.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.14;

  text-align: center;
}

/* Features */
.features {
  font-size: 14px;
}

.features-list .item-title {
  color: var(--title-text-color);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
}

.features-list .item-text {
  line-height: 1.71;
}

/* Team */
.team {
  background-color: var(--secondary-bg-color);

  font-size: 16px;
  line-height: 1.2;
}

.team .teammates-item {
  background-color: var(--white-color);
}

.team .teammate-name {
  font-weight: 500;
  color: var(--title-text-color);

  text-align: center;
}

.team .teammate-position {
  text-align: center;
}

/* Projects */
.project-title {
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.88;
}

.filters .btn{
  font-weight: 500;
  line-height: 1.6;
}

/* Footer */
.site-footer {
  background-color: var(--dark-bg-color);

  line-height: 1.71;

  color: var(--white-color);
}
.site-footer .logo {
  color: var(--white-color);
}

.site-footer .site-address {
  font-style: normal;
  font-size: 14px;
}

.contact-footer .link {
  color: var(--footer-contact-color);
}

.contact-footer .link:hover,
.contact-footer .link:focus {
  color: var(--accent-color);
}
