:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
}

.list-none {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* Header */
.site-header {
  font-size: 14px;
  font-weight: 500;
}
.logo {
  color: var(--title-text-color);
  font-family: 'Raleway', 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma',
    sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}
.logo > span {
  color: var(--accent-color);
}

.nav .link {
  color: var(--title-text-color);
}

.contact-header .link {
  color: var(--primary-text-color);
}
.nav .link:hover,
.nav .link:focus,
.contact-header .link:hover,
.contact-header .link:focus {
  color: var(--accent-color);
}
.link.current {
  color: var(--accent-color);
}

/* Buttons */
.btn {
  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);
  cursor: pointer;
  font-size: 16px;
}

.btn.primary {
  background-color: var(--accent-color);
  color: var(--white-color);
}
/* Section title */
.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
}

/* Hero */
.hero {
  background-color: var(--dark-bg-color);
}

.hero .hero-title {
  font-size: 44px;
  color: var(--white-color);
}

/* Features */
.features {
  font-size: 14px;
}

.features-list .item-title {
  color: var(--title-text-color);
  text-transform: uppercase;
  font-weight: 700;
}

/* Team */
.team {
  background-color: var(--secondary-bg-color);
  font-size: 16px;
}

.team .teammates-item {
  background-color: var(--white-color);
}

.team .teammate-name {
  font-weight: 500;
  color: var(--title-text-color);
}

/* Footer */
.site-footer {
  background-color: var(--dark-bg-color);
  color: var(--white-color);
}
.site-footer .logo {
  color: var(--white-color);
}
.site-footer .site-address {
  font-style: normal;
  font-size: 14px;
}

.contact-footer .link {
  color: var(--footer-contact-color);
}
.contact-footer .link:hover,
.contact-footer .link:focus {
  color: var(--accent-color);
}
